.home-main {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 0 auto;
    margin-top: 10px;
    border: 1px rgba(0, 0, 0, 0.1) solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  body {
    overflow-x: hidden; /* Hide scrollbars */
  }

